<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/favicon.png">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Questrial">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/50bb231d0e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      html { font-family: Questrial, Arial; }
      body {
        margin: 0;
        padding: 2.5%;
        background-color: #9CA3AF;
        background-image: url('/black-linen-2.png');
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      input {
        border-color: black;
        border-style: solid;
        border-width: 1px;
      }
      input[type="submit"] {
        padding: 0.5rem;
        background-color: green;
        color: white;
      }
    </style>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag "application.tsx" %>
  </head>

  <body>
    <div class="w-1/2 p-4 bg-blue-800 rounded">
      <div class="w-full p-2 bg-white rounded">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
