<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/favicon.png">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Questrial">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/50bb231d0e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag("application") %>
    <style>
      html { font-family: Questrial, Arial; }
      body {
        margin: 0;
        padding: 0;
        background-color: #9CA3AF;
        background-image: url('/black-linen-2.png');
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag "application.tsx" %>
  </head>

  <body>
    <div class="w-11/12 mx-auto md:mx-8 bg-white p-4 mt-4 rounded md:max-w-[40%]">
      <div class="w-full mx-auto bg-chartreuse-50 p-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
